body {
    background-color: lightgrey;
  }
  
  .navigation {
    background-color: black;
    overflow: hidden;
    top: 0;
    width: 100%;
    position: fixed;
  }
  
  .navigation a {
    float: left;
    color: lightgrey;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
    text-decoration: none;
  }
  
  .navigation a:hover {
    background-color: lightgrey;
    color: black;
  }
  
  .navigation a.active {
    background-color : lightblue;
    color : black;
  }
  
  .exercises {
    text-align: center;
    padding: 10%;
    line-height: 100px;
  }
  
  .exercises button, .input_button {
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    border-radius: 8px;
  }
  
  .title {
      line-height : 150px;
      text-align: center;
      color: blue;
  }
  
  #storeImage {
     height: 500px;
     width: 650px;
  }
  
  #imgDiv {
    float:left;
    text-align : center;
    padding-left : 10%;
  }
  
  h2 {
    text-align: center;
  }
  
  .storeBtn {
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    border-radius: 5px;
  }
